@using OnlineExamProject.Domain.Entities
@model IEnumerable<Exam>
@{
    ViewData["Title"] = "Silinen Sınavlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-wrapper">
    <div class="card" style="margin:30px;">
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead class="table-light">
                    <tr>
                        <th>Sınav</th>
                        <th>Açıklama</th>
                        <th>Kayıt Tarihi</th>
                        <th>Süre</th>
                        <th>Öğretmen</th>
                        <th>Durum</th>
                        <th>Aktifleştir</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><i class="fab fa-angular fa-lg texts-danger"></i> @item.Name</td>
                            <td>@item.Description</td>
                            <td>@item.CreatedDate</td>
                            <td>@item.Time</td>
                            <td>@item.UserId</td>                                                                                
                                <td><span class="badge bg-label-danger me-1">Pasif</span></td>                           
                            <td>
                                <a href="/Admin/Exam/MakeActive/@item.Id"><i class="bx bx-undo"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

