
@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
     id="layout-navbar">
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
        </a>
    </div>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <!-- Search -->
        
        <!-- /Search -->

        <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- Place this tag where you want the button to render. -->
            <li class="nav-item lh-1 me-3">
              @ViewBag.userName
            </li>

            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                        <img src="~/sneat/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <div class="avatar avatar-online">
                                        <img src="~/sneat/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <span class="fw-semibold d-block">@ViewBag.userName</span>
                                    <small class="text-muted">@ViewBag.nickName</small>
                                </div>
                            </div>
                        </a>
                    </li>                                 
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/Auth/LogOut">
                            <i class="bx bx-power-off me-2"></i>
                            <span class="align-middle">Çıkış Yap</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!--/ User -->
        </ul>
    </div>
</nav>
<div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                <div class="col-lg-8 mb-4 order-0">
                  <div class="card">
                    <div class="d-flex align-items-end row">
                      @* Son 24 saatte sisteme katılan kullanıcılar*@
                      @await Component.InvokeAsync("LastUsers")
                      <div class="col-sm-5 text-center text-sm-left">
                        <div class="card-body pb-0 px-0 px-md-4">
                          <img
                            src="~/sneat/assets/img/illustrations/man-with-laptop-light.png"
                            height="140"
                            alt="View Badge User"
                            data-app-dark-img="illustrations/man-with-laptop-dark.png"
                            data-app-light-img="illustrations/man-with-laptop-light.png"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 order-1">
                  <div class="row">
                    <div class="col-lg-6 col-md-12 col-6 mb-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                              <img
                                src="~/sneat/assets/img/icons/unicons/chart-success.png"
                                alt="chart success"
                                class="rounded"
                              />
                            </div>
                           
                          </div>
                          <span class="fw-semibold d-block mb-1">Soru Sayısı</span>
                          <h3 class="card-title mb-2">@ViewBag.questionCount</h3>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-6 mb-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                              <img
                                src="~/sneat/assets/img/icons/unicons/wallet-info.png"
                                alt="Credit Card"
                                class="rounded"
                              />
                            </div>                            
                          </div>
                          <span>Sınav Sayısı</span>
                          <h3 class="card-title text-nowrap mb-1">@ViewBag.examCount</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Total Revenue -->
                <div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
                  <div class="card">
                    <div class="row row-bordered g-0">
                      <div class="col-md-12">
                        <h5 class="card-header m-0 me-2 pb-3">Son Eklenenler</h5>
                        <div class="card-body">
                            <small>Son Kullanıcı</small>
                                <p>@ViewBag.lastUser</p>
                            <small>Son Sınav</small>
                                <p>@ViewBag.lastExam</p>
                            <small>Son Sınıf</small>
                                <p>@ViewBag.lastGrade</p>
                        </div>                            
                      </div>                          
                    </div>
                  </div>
                </div>
                <!--/ Total Revenue -->
                <div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
                  <div class="row">
                    <div class="col-6 mb-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                              <img src="~/sneat/assets/img/icons/unicons/paypal.png" alt="Credit Card" class="rounded" />
                            </div>                           
                          </div>
                          <span class="d-block mb-1">Rol Sayısı</span>
                          <h3 class="card-title text-nowrap mb-2">@ViewBag.roleCount</h3>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 mb-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                              <img src="~/sneat/assets/img/icons/unicons/cc-primary.png" alt="Credit Card" class="rounded" />
                            </div>                           
                          </div>
                          <span class="fw-semibold d-block mb-1">Kullanıcı Sayısı</span>
                                <h3 class="card-title mb-2">@ViewBag.userCount</h3>
                        </div>
                      </div>
                    </div>
                    <!-- </div>
    <div class="row"> -->
                   
                  </div>
                </div>
              </div>
            
            </div>
            

         
        

            @*<div class="content-backdrop fade"></div>*@
          </div>